body{
    min-height: 100vh;
    overflow: hidden;
    padding: 0%;
    margin: 0%;
    background-image: linear-gradient(to right, hsl(355, 86%, 58%),hsl(118, 85%, 40%));
}
/* Color group buttons*/
.red{
    background-color: crimson;
}
.green{
    background-color: #4CAF50;
}
.blue{
    background-color: rgb(28, 96, 224);
}

.groups{
    justify-content: center;
    align-self: center;
    display: flex;
}
/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .green {background-color: #3e8e41;}
  .dropdown:hover .blue {background-color: #1905c7;}
  .dropdown:hover .red {background-color: #aa0707;}
.nav{
    height: 6vh;
    background-color: rgb(88, 87, 87);
    color:white;
}